cite {
    font-size: 12px;
    opacity: 85%;
}

#mainsection {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem; 
    margin-top: 0;
    text-align: center;
}

#mainsection h1 {
    position: absolute;
    z-index: 10;
    font-size: 100px;
    margin: 0;
    color: #f0dfdf;
    font-weight: 600;
}

#mainsection span {
    font-size: 65px;
    opacity: 95%;
}

#mainsection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

#gallery img {
    width: 200px;
    height: auto;
    object-fit: cover;
}

#gallery div {
    border-bottom: 1px solid black;
}

.gallery-item p {
    padding-left: 5px;
    padding-right: 5px;
}

.gallery-item .title {
    float: left;
}

.gallery-item .price {
    float: right;
    color: green;
    font-weight: bold;
}

.gallery-item button {
    background-color: transparent;
    border:2px solid black;
    cursor: pointer;
    transition: 0.3s;
}

.gallery-item button:hover {
    background-color:rgb(83 25 15);
    border:2px solid rgb(83 25 15);
    color: white;
}
@media screen and (max-width: 1024px) {
    #gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    #gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 15px;
    }

    #gallery img {
        width: 100%;
        max-width: 250px;
    }
}

@media screen and (max-width: 480px) {
    #gallery {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px;
    }

    #gallery img {
        width: 100%;
        max-width: 200px;
    }

    #mainsection h1 {
        font-size:70px;
    }
    
    #mainsection span {
        font-size: 50px;
        opacity: 95%;
    }
}