h1 {
    font-size:70px;
    margin-left: 20px;
}

#planet-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 20px; 
}

#planet-container p {
    flex: 1; 
    max-width: 600px;
    padding:10px;
    font-size:17px;
}

#planet-container img {
    max-width: 300px;
    height: auto;
    padding:10px; 
}

@media (max-width: 768px) {

    h1 {
        text-align: center;
    }
    #planet-container {
        flex-direction: column;
    }
}