@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6f0;
    color: #333;
    min-height: 100%;
}

cite {
    font-size:11px;
    opacity: 85%;
}

h2 {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-weight: 500;
    text-transform: uppercase;

    box-shadow: 0 1.5px 0px rgba(0,0,0,0.1);
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    font-size: 12px;
}

.search-bar{
    font-family: 'Outfit', sans-serif;
    opacity: 80%;
    padding: 5px 10px;
    border:none;
    background-color: transparent;
    font-size: 12px;
    border-bottom: 2px solid black;
    width: 200px;
}

.search-bar:focus {
    outline: none;
}

.footer {
    background-color:rgb(83 25 15);
    padding: 40px 20px;
    color:#f2f2e4;
    margin-top:auto;
    flex-shrink: 0; 
    width: 100%;
    background-color: #591c16;
    box-sizing: border-box;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-column {
    flex: 1;
    padding: 0 20px;
  }
  
  .footer-column h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-column li {
    margin-bottom: 15px;
  }
  
  .footer-column li a {
    text-decoration: none;
    color: #f2f2e4;
    font-size: 14px;
    transition: color 0.3s;
  }
  
  .footer-column li a:hover {
    text-decoration: underline;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }
  
  .social-icons img {
    width: 40px;
    height: 40px;
    background-color: #eee;
    border-radius: 50%;
  } 

@media screen and (max-width: 480px) {
  
  .navbar img {
    display: none;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  
  .footer {
    margin-top: 20px; 
    position: relative; 
  }
}